<% content_for :title, @content[:frontmatter]["title"] %>
<% content_for :description, @content[:frontmatter]["description"] %>

<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <article class="prose prose-lg prose-orange max-w-none">
    <%= @content[:body] %>
  </article>
</div>
